/**
 * fonts.css
 *
 * @author Fredrik Frodlund
 */

/**
 * Font icons
 */
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.woff") format("woff"),
       url("../fonts/icomoon.svg?oyvtcb#icomoon") format("svg");
}
