/**
 * ie.css
 *
 * Bugfixes for legacy Internet Explorer
 */

/**
 * Font icons
 */
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot?oyvtcb");
  src: url("../fonts/icomoon.eot?#iefixoyvtcb") format("embedded-opentype");
}
